@font-face {
	font-family: 'IcoMoon';
	src: url('/assets/fonts/IcoMoon.eot');
	src: url('/assets/fonts/IcoMoon.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/IcoMoon.svg#IcoMoon') format('svg'),
		url('/assets/fonts/IcoMoon.woff') format('woff'),
		url('/assets/fonts/IcoMoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'IcoMoon';
	content: attr(data-icon);
	speak: none;
}

.icon-twitter:before {
	content: "\23";
}
.icon-dribbble:before {
	content: "\22";
}
.icon-github:before {
	content: "\24";
}

#{headings()} {
	font-weight: normal;
	color: $heading-color;
	font-family: $heading-font-family;
	font-weight: 500;
	

}

h1 {
	@include heading(($base-font-size * 1.4), 2, 1);
	text-align: center;
	//background: green;
}
h2 {
	@include heading(($base-font-size * 1.2));
	
}
h3 {

	@include heading(($base-font-size * 1.2));
}
h4 {
	@include heading($base-font-size);
	text-transform: uppercase;
}
h5 {
	@include heading($base-font-size);
}
h6 {
	@include heading($base-font-size);
	font-variant: small-caps;
}

p {
}

hr {
	height: 0px;
	padding: 0;
	@include margin-trailer(0.5);
	@include margin-leader(0.5);
	
	border: none;
	@include trailing-border($width: 1px, $border-style: solid);
	border-color: #ccc;
}

blockquote {
	padding: rhythm() rhythm() rhythm() (rhythm() * 4);
	background: #efefef;
	@include margin-trailer(1);
	@include margin-leader(1);
	position: relative;

	&:before {
		content: '\201C';
		font-size: 200px;
		line-height: 200px;
		vertical-align: text-bottom;
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
	}
}

pre {
	background: rgba(255,255,0,0.1);
	@include margin-trailer(0.5);
	@include margin-leader(0.5);
	padding: (rhythm() / 2) rhythm();
	border-color: rgba(0,0,0,0.2);
	@include rhythm-borders($width: 1px, $border-style: dotted);

	//@include radial-gradient(color-stops(rgba(255,255,255,0.7), rgba(255,255,255,0)));
	@include background-image(linear-gradient(color-stops(rgba(255,255,255,0.5), rgba(255,255,255,0))));
}

ul {
	list-style: disc;
	//@include padding-trailer(1);
	li {
	}
}
ol {
	list-style: decimal;
	color: red;
	@include padding-trailer(1);
	li {
		color: $text-color;
	}
}

ol + h2 {
	padding-top: 0;
}
	
p + p {
	@include padding-leader(1);
}

p+ul, p+ol, p+dl {
	@include padding-leader(1);
}
ul+p, ol+p {
	
}

a {
	color: #069;
	text-decoration: none;
	border-bottom: 1px dotted #069;

	&:hover {
		color: #0092DD;
		border-bottom: 1px solid #0092DD;
	}
}


dl {
	dt {
		font-weight: bold;
	}
	dd {
		padding-left: rhythm(1);
		@include padding-trailer(1);
	}
}

em {
	font-style: italic;
}
strong {
	font-weight: bold;
}

code {
	font-family: monospace;
	@include adjust-font-size-to(15px,0);
	color: #BC5401;
}



figure {
	position: relative;
	text-align: center;
}
figure img, figure object, figure embed, figure video {
	max-width: 100%; 
	display: block;
}
img {
	border: 0; 
	-ms-interpolation-mode: bicubic;
}

figure.full {
}

figure.left {
	@include span-columns(6,12);
	height: 200px;
	border-radius: 500px;
}

time {
	display: block;
	text-align: center;
	padding-bottom: rhythm(1);
	font-weight: 500;
	color: #777;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	//font-variant: small-caps;
	//text-transform: uppercase;
}


figure.center {
	text-align: center;
	padding-left: columns(1,12);
	padding-right: columns(1,12);

	@include box-shadow(
		0px 0px 1px 0px #fff
	);
	img {
		margin: 0 auto;
	}
}

p.options {
	text-align: center;
}
a.button {
	@include inline-block;
	//margin: rhythm(1) 0;
	padding: 9px $gutter;
	color: $text-color;
	@include background(
		linear-gradient(#fff, #efefef)
	);
	border: 1px solid #aaa;
	@include border-radius(25px);
	text-align: center;
	@include box-shadow(
		0px 0px 2px rgba(#333, 1)
	);
	//font-weight: bold;
	//font-size: 17px;
	//border: none;
	@include text-shadow(0px -1px 1px #fff);

	@include transition-property(all);
	@include transition-duration(0.1s);
	@include transition-timing-function($ease-in-out-quad);

	&:hover {
		@include background(
			linear-gradient(#fff, #f9f9f9)
		);
		@include box-shadow(
			0px 0px 11px rgba($orange, 1)
		);
		border-color: rgba($orange, 0.5);
	}
}