//	******************************************************************
//	Compass Framework
//	******************************************************************
	
@import
	"compass/reset",
	"compass/utilities",
	"compass/css3",
	"compass/typography/vertical_rhythm",
	"compass/layout/grid-background";


//	******************************************************************
//	Global Variables
//	******************************************************************
	
// Vertical Rhythm
$base-font-size: 18px;
$base-line-height: 24px;

// Debug Vertical Grid
$debug: 0;
$grid-background-baseline-height: 1.5em;
$grid-background-baseline-color: rgba(255, 0, 0, 0.4);

// Typefaces
$font-family: "dejarip", sans-serif;
$heading-font-family: "adelle", serif;

// Text Colors
$text-color: #000;
$heading-color: #000;

// Colors
$orange: #DE7719;
//$orange: #E0523C; // alternative red
$light-blue: #E7F3FF;

// Grid
$gutter: 24px;
$max-width: 740px;




//	******************************************************************
//	Base Styles
//	******************************************************************

// Sets body font size based on vertical rhythm
@include establish-baseline($base-font-size);

html, body {
	min-height: 100%;	
}

body {
	font-family: $font-family;
	color: $text-color;
	background: #f0f0f0 url('/assets/images/80-70-3.png');
	border-top: 8px solid $orange;

	@if $debug == 1 {
		@include baseline-grid-background();
		background-color: #fff;
	}

	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;

}

//	******************************************************************
//	Imports
//	******************************************************************
@import
	"tools",
	"typography";


//	******************************************************************
//	Main Layout
//	******************************************************************

.wrapper {
	max-width: $max-width;
	margin: 0 auto;
	padding: 0 $gutter;
}


//	******************************************************************
//	Header
//	******************************************************************

#top {
	text-align: center;
	@include background(
		linear-gradient(
			top center,
			rgba(#fff, 0.2) 0%,
			rgba(#e3e3e3, 0.2) 50%,
			rgba(#e3e3e3, 1) 100%
		),
		url('/assets/images/80-70-3.png')
	);
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: (($gutter * 3) - 10) 0 $gutter 0;

	h1 {
		padding: 0;
		font-size: $base-font-size * 2.4;
		line-height: 30px;
		text-rendering: optimizeLegibility;
		-moz-font-smoothing: antialiased;
		-webkit-font-smoothing: antialiased;
		font-smoothing: antialiased;
		font-weight: 700;
		@include text-shadow(0px 2px 2px rgba(255,255,255,0.7));

		em {
			display: block;
			font-style: normal;
			font-size: 16px;
			font-weight: 500;
			font-family: $font-family;
			color: #777;
			padding-top: 5px;
		}
		a {
			color: #000;
		}
	}
	a {
		border: none;
	}
}

nav.main {
	font-family: $heading-font-family;
	font-weight: 400;
	ul {
		list-style: none;
		padding: $gutter $gutter 0;
		max-width: 640px;
		margin: 0 auto;
		overflow: hidden;
		font-size: 16px;
	}
	li {
		float: left;
		margin: 0;
		padding: 0;
		width: 25%;
	}
	a {
		display: block;
		padding: 0px 0 0px 0;
		color: #000;
		text-decoration: none;
		text-align: center;
		@include text-shadow(0px 2px 2px rgba(255,255,255,0.7));
		&.active {
			color: $orange;
		}
	}
	span {
		display: block;
		margin: 0 auto 0px;
		opacity: 1;
		font-size: 38px;
		line-height: 40px;
	}
}

//	******************************************************************
//	Portfolio
//	******************************************************************

section.work {
	
	article {
		@include clearfix;	
	}
}

//	******************************************************************
//	Blog
//	******************************************************************

section.notes {
	
	article {
		@include clearfix;
	}
}



//	******************************************************************
//	Footer
//	******************************************************************
#bottom {
}