//	******************************************************************
//	Compass Framework
//	******************************************************************
	
@import
	"compass/reset",
	"compass/utilities",
	"compass/css3",
	"compass/typography/vertical_rhythm",
	"compass/layout/grid-background";


//	******************************************************************
//	Global Variables
//	******************************************************************
	
// Vertical Rhythm
$base-font-size: 18px;
$base-line-height: 28px;

// Debug Vertical Grid
$debug: 0;
$grid-background-baseline-height: 1.555555556em;
$grid-background-baseline-color: rgba(255, 0, 0, 0.4);

// Typefaces
$font-family: "dejarip", sans-serif;
$heading-font-family: "adelle", serif;

// Text Colors
$text-color: #110e0b;
$heading-color: #110e0b;

// Colors
$orange: #DE7719;
$blue: complement($orange);
$red: adjust-hue($orange, -30deg);
$teal: adjust-hue($orange, -270deg);
$purple: adjust-hue($orange, -60deg);

//$orange: #E0523C; // alternative red
$light-blue: #E7F3FF;

// Grid
$gutter: 28px;

$container-width: 960px;
$total-columns: 12;
$gutter-width: 2.1em;
$grid-padding: 1.555555556em;





$legacy-support-for-ie6 : false;
$legacy-support-for-ie7 : false;

@import "susy";

$ease-out-expo: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$ease-in-out-expo: cubic-bezier(1.000, 0.000, 0.000, 1.000);
$ease-out-quad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
$ease-in-quad: cubic-bezier(0.550, 0.085, 0.680, 0.530);
$ease-in-out-quad: cubic-bezier(0.455, 0.030, 0.515, 0.955);

$ease-folio: cubic-bezier(0.645, 0.045, 0.355, 1);




//	******************************************************************
//	Base Styles
//	******************************************************************

// Sets body font size based on vertical rhythm
@include establish-baseline($base-font-size);

html, body {
	min-height: 100%;	
}

body {
	font-family: $font-family;
	color: $text-color;
	background: #F7F7F7 url('/assets/images/80-70-3.png');

	//background: url('/assets/images/handmadepaper.png');
	border-top: 8px solid $orange;

	@if $debug == 1 {
		@include baseline-grid-background();
		background-color: #fff;
		background-position: 0px 8px;
	}

	-webkit-font-smoothing: antialiased;

	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;

	-webkit-transform: translate3d( 0, 0, 0);

	&:before {
		content: "";
		position: fixed;
		top: -10px;
		left: 0;
		width: 100%;
		height: 8px;

		@include box-shadow(0px 0px 8px rgba(0,0,0,0.4));

		z-index: 100;
	}
}

#in_progress {
	//width: 240px;
	padding: 5px 14px;
	background: #ffc;
	position: absolute;
	top: 28px;
	right: 28px;
	opacity: 0.5;
	font-size: 14px;
}

//	******************************************************************
//	Imports
//	******************************************************************
@import
	"tools",
	"typography";


//	******************************************************************
//	Main Layout
//	******************************************************************

.container {

	 @include container();

	 @if $debug == 1 {
	 	@include susy-grid-background;
	 }
}


//	******************************************************************
//	Header
//	******************************************************************

#top {
	text-align: center;

	@include box-shadow(
		inset 0px -1px 0px 0px rgba(0,0,0,0.2),
		inset 0px 1px 0px 0px rgba(255,255,255,1)
	);
	padding-bottom: 1px;
	.wrapper {
		padding: 64px 0 0 0;
		@include clearfix;
	}
	h1 {
		padding: 0;
		font-size: 1.9em;
		line-height: 30px;
		@media screen and (min-width: 400px) {
			@include adjust-font-size-to($base-font-size * 2.4);
			line-height: 34px;
		}
		
		text-rendering: optimizeLegibility;
		-moz-font-smoothing: antialiased;
		-webkit-font-smoothing: antialiased;
		font-smoothing: antialiased;
		font-weight: 700;
		@include text-shadow(0px 1px 1px rgba(255,255,255,0.7));
		em {
			display: block;
			font-style: normal;
			font-weight: 500;

			font-family: $font-family;
			font-size: 15px;
			@media screen and (min-width: 400px) {
				font-size: $base-font-size;
			}
			color: #777;
			padding-top: 0px;
		}
		a {
			color: $text-color;
			border:  none;
		}
	}

}

nav.main {
	font-family: $heading-font-family;

	font-size: 15px;

	@media screen and (min-width: 400px) {
		font-size: $base-font-size;
	}

	//opacity: 0;
	//-webkit-animation-fill-mode: forwards;
	//-webkit-animation: fadeInDown 0.5s 1, both;

	ul {
		list-style: none;
		padding: 32px 0 0;
		@include clearfix;

		@media screen and (min-width: 481px) {
			@include span-columns(10,12);
			@include squish(1,1);
		}
		@media screen and (min-width: 769px) {
			@include span-columns(8,12);
			@include squish(2,2);
		}

		//background: #F7F7F7 url('/assets/images/80-70-3.png');
	}
	li {
		margin: 0;
		padding: 0;
		@include span-columns(2,8);
		&:nth-child(4n) { @include omega; }

		//background: #F7F7F7 url('/assets/images/80-70-3.png');
	}
	/*
	li.projects {
		a {
			&:hover {
				span {
					color: $blue;
				}
			}
		}
	}
	li.about {
		a {
			&:hover {
				span {
					color: $red;
				}
			}
		}
	}
	li.notes {
		a {
			&:hover {
				span {
					color: $teal;
				}
			}
		}
	}
	li.contact {
		a {
			&:hover {
				span {
					color: $purple;
				}
			}
		}
	}
	*/

	a {
		display: block;
		padding: 0px 0 4px 0;
		
		//background: #F7F7F7 url('/assets/images/80-70-3.png');

		color: $text-color;
		text-decoration: none;
		text-align: center;
		border:  none;
		@include text-shadow(0px 1px 1px rgba(255,255,255,0.7));

		-webkit-transform: translate3d( 0, 0, 0);

		@include transition-property(all);
		@include transition-duration(0.15s);
		@include transition-timing-function($ease-out-quad);

        cursor: pointer;
        height: 83px;
		span {
			display: block;
			margin: 0 auto 0px;

			-webkit-transform: translate3d( 0, 0, 0);

			@include transition-property(all);
			@include transition-duration(0.15s);
			@include transition-timing-function($ease-out-quad);


			font-size: 38px;
			height: 42px;
			line-height: 38px;
			
            cursor: pointer;


		}
		
		
		

		&:hover {
			//background: #F7F7F7 url('/assets/images/80-70-3.png');
			span {
				font-size: 43px;
				//@include text-shadow(0px 1px 20px rgba(255,255,255,1));

				//background: #F7F7F7 url('/assets/images/80-70-3.png');
				@include translateY(-3px);

				//-webkit-transform: translateY(-3px);
				color: teal;
			}
		}

		&.active {
			color: $orange;
			cursor: default;
			&:hover {
				span {
					font-size: 38px;
					color: $orange !important;
					//-webkit-transform: translateY(0px);
				}
			}
		}
	}

	
}

//	******************************************************************
//	Structure
//	******************************************************************

#page {
	@include box-shadow(
		inset 0px 1px 0px 0px rgba(255,255,255,1)
	);
	@include clearfix;
	padding-bottom: ($gutter * 3);
	//-webkit-animation: fadeInDown 2s, 0.5s, 1, both, alternate;

	//@include animation(fadeInUpBig, 0.5s, ease);
	/*
	-webkit-animation-fill-mode: forwards;

	@include transition-property(all);
		@include transition-duration(0.5s);
		@include transition-timing-function($ease-out-quad);
		*/
}

div.padding {

	@media screen and (min-width: 481px) {
		padding-left: columns(1,12);
		padding-right: columns(1,12);
	}
}


//	******************************************************************
//	Home
//	******************************************************************

section.home {

	
	
	h1 {
		//@include prefix(1);
		@media screen and (min-width: 481px) {
			@include pad(1,1);
			@include span-columns(10,12);
		}
		@include heading(($base-font-size * 1.4), 0, 0, 1.444444444);
		padding-top: 39px;
		padding-bottom: 39px;
		
		em {
	
		}
		
	}
}

//	******************************************************************
//	About
//	******************************************************************

section.about {
	
	@include span-columns(20,24);
	@include pad(1,1);
}


//	******************************************************************
//	Notebook
//	******************************************************************

section.notes {

	article {

		@include clearfix;

		@include span-columns(20,24);
		@include pad(1,1);
		padding-bottom: rhythm(2);

		@include box-shadow(
			inset 0px 1px 1px 0px #fff,
			inset 0px -1px 0px 0px rgba(0,0,0,0.2)
		);
	}

	h1 {
		a {
			border: none;
			color: $text-color;
		}
	}

	figure {
		text-align: center;
		padding-left: columns(1,12);
		padding-right: columns(1,12);

		@include box-shadow(
			0px 0px 1px 0px #fff
		);
		img {
			margin: 0 auto;
		}
	}
}

article.note {

	time {
		padding-top: rhythm(1);
		padding-bottom: 0;
	}

	h1 {
		padding-top: rhythm(1);
	}
	
}

//	******************************************************************
//	Single Project
//	******************************************************************

section.project {

	@include span-columns(10,12);
	@include pad(1,1);
	
}

figure.folio {
	/*
	@include box-shadow(
		0px 0px 1px 0px #fff
	);
	*/
	@include box-shadow(0px 1px 5px rgba(0,0,0,0.2));
	padding: 10px;
	background: #fff;
	
	margin-bottom: rhythm(1);

	text-align: center;

	img {
		//width: 100%;
	}
}


//	******************************************************************
//	Projects List
//	******************************************************************

section.projects {

	padding-top: rhythm(1);
	@include clearfix;

	/*
	&:hover {
		article {
			opacity: 0.7;
		}
	}
	*/
	article {
		
		@include transition-property(all);
		@include transition-duration(0.15s);
		@include transition-timing-function($ease-folio);

		h2 {
			@include heading(($base-font-size * 1.2), 1, 0, 1);
		}
		p {
			padding-top: 0;
			padding: rhythm(1) 0;
			@include adjust-font-size-to(16px, 0.8);
		}
		&:hover {


		}
		@media screen and (min-width: 500px) {
			@include span-columns(6,12);
	
			@include remove-nth-omega(3n);
			@include nth-omega(2n);

		}
		@media screen and (min-width: 900px) {
			@include span-columns(4,12);

			@include remove-nth-omega(2n);
			@include nth-omega(3n);
			
		}
		
		margin-bottom: $gutter;
		

		a {
			display: block;
			

			figure {
				
				padding: 8px;
				background: #fff;
				@include box-shadow(0px 1px 4px rgba(0,0,0,0.2));
				@include border-radius(2px);
				/*
				@include transition-property(all);
				@include transition-duration(0.05s);
				@include transition-timing-function($ease-out-quad);
				*/

				img {
					@include border-radius(2px);
				}
			}

			&:hover {
				figure {
					//@include scale(1.05);

					//@include box-shadow(0px 0px 8px rgba(0,0,0,0.2));
				}
			}
			color: $text-color;
			border: none;
		}	
	}
}

section.home {
	@extend section.projects;
	padding-top: 0;
}

.video {
	@include span-columns(4,9);
	padding-top: 6px;
	padding-bottom: 21px;
}
.videoBorder {
	width: 100%;
	//height: columns(6,12);
	//background: #fff;
	//padding: 8px;
	//border-radius: 50%;
	//box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
	//border: 1px solid #ccc;
	//background: yellow;

	position: relative;
	padding-bottom: 74%;
	height: 0;
}
.videoPlayer {
	position: absolute;
	top: 0;
	left: 0;
	//padding: 8px;
	//background: #fff;
	width: 100%;
	height: 100%;
	-webkit-mask-box-image: url('/assets/images/rect.svg');
}
video {
}



//	******************************************************************
//	Contact
//	******************************************************************

section.contact {
	@include span-columns(8,12);
	@include pad(2,2);
}

aside.hcard {
	padding: rhythm(1) rhythm(1) rhythm(1.5) ;
	background: #fff;
	@include pie-clearfix;
	@include border-radius(4px);
	position: relative;
	@include box-shadow(0px 1px 4px rgba(0,0,0,0.2));

	figure {
		@include span-columns(2,8);
		//@include border-radius(9px);
		
		div {
			//border-image: url('/assets/images/stamp-border.png') 8 round; 
			//border-width: 8px;
			padding: 7px;
			@include background(
				linear-gradient(#ddd, #efefef),
				url('/assets/images/handmadepaper.png')
			);
			@include border-radius(3px);
			position: relative;
			&:after {
				display: block;
				content: "";
				width: 100%;
				height: 100px;
				position: absolute;
				top: 0px;
				left: 0px;
				z-index: 101;
				margin: 8px;
	

				@include background(
					radial-gradient(20px 20px, rgba(#fff, 0.2), rgba(#fff, 0) 100px)
				);
			}
		}
		img {
			//width: 100%;
			//xborder: 10px solid #efefef;
			@include border-radius(2px);

			max-width: 100%;

			
		}
	}

	dl {
		@include span-columns(5, 8);
	}

	a.microformat {
		display: block;
		
		width: $gutter;
		background: url('/assets/images/mf-vector.svg') 0px 0px no-repeat;
		background-size: 100% auto;
		text-indent: -99999px;
		height: 40px;
		border: none;
	}

	nav.icon-links {
		@include span-columns(1 omega, 8);

		text-align: right;
		a {
			display: block;
			float: right;

			font-size: 28px;
			height: $gutter * 2;
			border: none;
			color: #ccc;

			&.github {
				font-size: 31px;

				&:hover {
					color: #222;
				}
			}
			&.twitter {
				&:hover {
					color: #00ACED;
				}
			}
			&.dribbble {
				&:hover {
					color: #ea4c89;
				}
			}
		}
	}

	h2 {
		padding: 0 0 0 0;
		//font-size: 20px;
	}
	p {
		padding-top: 0;
	}

	span {
		display: block;
		width: columns(1,8);
		height: 28px;
		background: #F7F7F7 url('/assets/images/80-70-3.png');
		position: absolute;
		bottom: 14px;
		@include border-radius(7px);

		@include box-shadow(
			inset 0px 1px 4px rgba(0,0,0,0.2)
		);

		&.left {
			left: space(1,8);
		}
		&.right {
			right: space(1,8);
		}

		&:before, &:after {
			z-index: 101;
			display: block;
			content: "";
			width: 16px;
			height: 14px;
			position: absolute;
			bottom: -14px;
			left: 50%;
			margin-left: -8px;
			background: #F7F7F7 url('/assets/images/80-70-3.png');
			

		}

		&:before {
			@include box-shadow(
				inset 1px 0px 1px rgba(0,0,0,0.1),
				inset -1px 0px 1px rgba(0,0,0,0.1)
			);
		}
		&:after {
			height: 22px;
			bottom: -18px;
			width: 14px;
			margin-left: -7px;
			z-index: 102;
		}
	}
	/*
	dl {
		dt {
			width: 20%;
			float: left;
			padding: 0 0 rhythm(0.5) 0;
			clear: left;
		}
		dd {
			width: 80%;
			float: left;
			padding: 0 0 rhythm(0.5) 0;
		}
	}
	*/

	dd {
		padding-bottom: rhythm(0.5);
	}
}


//	******************************************************************
//	Footer
//	******************************************************************
#bottom {
	background: #222 url('/assets/images/80-70-3.png');;
	color: #ccc;
	padding: $gutter 0 $gutter 0;

	@include box-shadow(
		0px -1px 1px 0px #fff,
		inset 0px 1px 1px 0px #000
	);

	border-top: 8px solid $orange;

	.wrapper {
		@include container;
	}

	p {
		padding: 0;
	}

	a {
		color: #777;
		border: none;
	}
	p.copyright {
		@include span-columns(2 omega,12);
	}

	p.contact {
		@include span-columns(10,12);
	}
}