//	******************************************************************
//	Compass Framework
//	******************************************************************
	
@import
	"compass/reset",
	"compass/utilities",
	"compass/css3",
	"compass/typography/vertical_rhythm",
	"compass/layout/grid-background";


//	******************************************************************
//	Global Variables
//	******************************************************************
	
// Vertical Rhythm
$base-font-size: 18px;
$base-line-height: 28px;

// Debug Vertical Grid
$debug: 0;
$grid-background-baseline-height: 1.555555556em;
$grid-background-baseline-color: rgba(255, 0, 0, 0.4);

// Typefaces
$font-family: "dejarip", sans-serif;
$heading-font-family: "adelle", serif;

// Text Colors
$text-color: #000;
$heading-color: #000;

// Colors
$orange: #DE7719;
//$orange: #E0523C; // alternative red
$light-blue: #E7F3FF;

// Grid
$gutter: 28px;
$max-width: 760px;
$site-max-width: 960px;

$total-columns: 12;
$gutter-width: 2.1em;
$grid-padding: 1.555555556em;

$container-width: 960px;

$legacy-support-for-ie6 : false;
$legacy-support-for-ie7 : false;

@import "susy";

$ease-out-expo: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$ease-in-out-expo: cubic-bezier(1.000, 0.000, 0.000, 1.000);
$ease-out-quad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
$ease-in-quad: cubic-bezier(0.550, 0.085, 0.680, 0.530);
$ease-in-out-quad: cubic-bezier(0.455, 0.030, 0.515, 0.955);

//	******************************************************************
//	Base Styles
//	******************************************************************

// Sets body font size based on vertical rhythm
@include establish-baseline($base-font-size);

html, body {
	min-height: 100%;	
}

body {
	font-family: $font-family;
	color: $text-color;
	background: #F7F7F7 url('/assets/images/80-70-3.png');
	border-top: 8px solid $orange;

	@if $debug == 1 {
		@include baseline-grid-background();
		background-color: #fff;
		background-position: 0px 8px;
	}

	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;

	&:before {
		content: "";
		position: fixed;
		top: -10px;
		left: 0;
		width: 100%;
		height: 10px;

		@include box-shadow(0px 0px 8px rgba(0,0,0,0.4));

		z-index: 100;
	}
}


//	******************************************************************
//	Imports
//	******************************************************************
@import
	"tools",
	"typography";

//	******************************************************************
//	Main Layout
//	******************************************************************


.container {
	 @include container();
	 @if $debug == 1 {
	 	@include susy-grid-background;
	 }
	 //max-width: $site-max-width;
}

//	******************************************************************
//	Header
//	******************************************************************

#top {
	text-align: center;
		/*
	@include background(
		linear-gradient(
			top center,
			rgba(#fafafa, 1) 0%,
			rgba(#fafafa, 0.5) 40%,
			rgba(#fafafa, 1) 100%
		),
		url('/assets/images/80-70-3.png')
	);
	*/
	@include box-shadow(
		inset 0px -1px 0px 0px rgba(0,0,0,0.2),
		inset 0px 1px 0px 0px rgba(255,255,255,1)
	);
	.wrapper {
		padding: 64px 0 0 0;
		//position: relative;
		@include clearfix;
	}
	h1 {
		padding: 0;
		@include adjust-font-size-to($base-font-size * 2.4);
		line-height: 34px;
		text-rendering: optimizeLegibility;
		-moz-font-smoothing: antialiased;
		-webkit-font-smoothing: antialiased;
		font-smoothing: antialiased;
		font-weight: 700;
		@include text-shadow(0px 1px 1px rgba(255,255,255,0.7));
		em {
			display: block;
			font-style: normal;
			font-weight: 500;
			font-family: $font-family;
			font-size: $base-font-size;
			color: #777;
			padding-top: 0px;
		}
		a {
			color: #000;
			border:  none;
		}
	}

}

nav.main {
	font-family: $heading-font-family;
	font-size: $base-font-size;
	ul {
		list-style: none;
		padding: 32px 0 0;
		//@include prefix(2);
		@include span-columns(8,12);
		//@include suffix(2);

		@include squish(2,2);
		//@include omega();
		//background: red;
	}
	li {
		margin: 0;
		padding: 0;
		@include span-columns(2,8);
		&:nth-child(4n) { @include omega; }
		//background: green;
		//width: 25%;
	}
	a {
		display: block;
		padding: 0px 0 4px 0;
		
		color: #000;
		text-decoration: none;
		text-align: center;
		border:  none;
		@include text-shadow(0px 1px 1px rgba(255,255,255,0.7));

        cursor: pointer;
        height: 84px;
		span {
			display: block;
			margin: 0 auto 0px;

			font-size: 38px;
			height: 42px;
			line-height: 38px;
			@include transition-property(all);
			@include transition-duration(0.1s);
			@include transition-timing-function($ease-in-out-quad);
            cursor: pointer;
		}
		

		&:hover {
			
			

			span {
				font-size: 43px;
				@include text-shadow(0px 1px 20px rgba(255,255,255,1));
				-webkit-transform: translateY(-3px);

				color: teal;
				//@include text-shadow(1px 1px 30px rgba(teal, 0.5));
			}
			//@include simple-transform(1.05);
		}

		&.active {
			color: $orange;
			cursor: default;
			&:hover {
				span {
					font-size: 38px;
					@include text-shadow(0px 1px 1px rgba(255,255,255,0.7));
				}
			}
		}
	}
	
}

a.hire {
	display: block;
	//padding: 0px 20px;
	@include background(
		url('/assets/images/80-70-3.png'),
		$orange
	);
	color: darken($orange, 22);
	position: absolute;
	top: 8px;
	right: $gutter;
	line-height: 29px;
	height: 35px;
	width: 42px;
	@include text-shadow(
		0px 1px 1px lighten($orange, 20)
	);
	border: none;
	//font-weight: normal;
	//font-style: normal;
	//font-family: $heading-font-family;
	font-size: 21px;
	text-align: center;

	/*
	abbr {
		display: block;
		background: rgba(0,0,0,0.3);

		@include box-shadow(
			inset 0px 1px 8px rgba(0,0,0,0.3),
			0px 1px 1px rgba(#fff, 0.2)
		);

		padding: 2px 2px 3px 2px;
		color: $orange;
		margin: 6px 11px;

		&:after {
			display: block;
			content: "";
			width: 12px;
			//background: red;
			position: absolute;
			top:3px;
			left: 10px;
			height: 4px;
			border-left: 4px solid darken($orange, 20);
			border-right: 4px solid darken($orange, 20);
		}
	}
	*/

	//border-top: 1px dashed rgba(0,0,0,0.3);
	/*
	@include box-shadow(
		inset 0px 2px 6px rgba(darken($orange,30),0.8)
	);
	*/
	//@include border-radius(2px);

	//-webkit-transform: rotate(90deg);
	/*
	&:after {
		display: none;
		content: "";
		position: absolute;
		height: 32px;
		width: 90px;
		border-left: 2px solid darken(desaturate($orange, 20), 10);
		border-right: 2px solid darken(desaturate($orange, 20), 10);
		top: -30px;
		right: 8px;
	}
	*/
	&:after, &:before {
		display: block;
		content: "";
		position: absolute;
		height: 0px;
		width: 0px;
		border-width: 10px 10px;
		border-style: solid;
		bottom: -15px;
		left: 0px;
		border-color:  $orange #F7F7F7 #F7F7F7 $orange ;
		@include transform(scale(1, 0.5));
		//@include border-radius(1px);
	}
	&:before {
			right: 0px;
			left: auto;
			border-color: $orange $orange #F7F7F7 #F7F7F7;
		}
	
}


#page {
	@include box-shadow(inset 0px 1px 0px 0px rgba(255,255,255,1));
}


section.home, section.about, section.notes, section.contact {
	//padding: 0 100px;
	//max-width: $max-width;
	//margin: 0 auto;
}

section.home {
	// /border-top: 1px solid #ccc;
	//@include box-shadow(0px -1px 7px rgba(0,0,0,0.2));

	padding: 39px 0;
	@include clearfix;
	h1 {
		@include prefix(1);
		@include span-columns(10,12);
		@include heading(($base-font-size * 1.4), 0, 0, 1.444444444);
		padding-top: 0;
		padding-bottom: 0;

	}
}

section.about {
	
	@include span-columns(20,24);
	@include pad(1,1);
	//background: red;
	//background: red;
	//padding-left: $gutter;
	//padding-right: $gutter;
	//@include post(3);
	//@include omega;

	//margin-left: columns(1,12);
	//margin-right: columns(1,12);

	div.single {

	}
}

div.padding {
	padding-left: columns(1,12);
	padding-right: columns(1,12);
}

section.notes {

	article {
		@include span-columns(20,24);
		@include pad(1,1);
		padding-bottom: rhythm(2);

		@include box-shadow(
			inset 0px 1px 1px 0px #fff,
			inset 0px -1px 0px 0px rgba(0,0,0,0.2)
		);

		//@include trailing-border(1px, 0, $base-font-size, solid);
	}

	h1 {
		//padding-bottom: 0;
		a {
			border: none;
			color: $text-color;
		}
	}

	time {
		display: block;
		text-align: center;
		padding-bottom: rhythm(1);
		font-weight: 500;
		color: #777;
		-moz-font-smoothing: antialiased;
		-webkit-font-smoothing: antialiased;
		font-smoothing: antialiased;
		//font-variant: small-caps;
		//text-transform: uppercase;
	}

	figure {
		text-align: center;
		padding-left: columns(1,12);
		padding-right: columns(1,12);

		@include box-shadow(
			0px 0px 1px 0px #fff
		);
		img {
			margin: 0 auto;
		}
	}

}

//	******************************************************************
//	Portfolio
//	******************************************************************

section.projects {

	article {
		
		@include span-columns(4,12);
		//width: 33.3333333333%;
		//@include border-box;
		float: left;
		margin-bottom: $gutter;
		&:nth-child(3n) { @include omega; }
		//padding: 0 $gutter $gutter 0;
		a {
			display: block;
			padding: 8px;
			background: #fff;
			@include box-shadow(0px 0px 8px rgba(0,0,0,0.15));
			border: none;
			img {
				height: 215px;
			}
		}
		
		

	}
}

.video {
	@include span-columns(4,9);
	padding-top: 6px;
	padding-bottom: 21px;
}
.videoBorder {
	width: 100%;
	//height: columns(6,12);
	//background: #fff;
	//padding: 8px;
	//border-radius: 50%;
	//box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
	//border: 1px solid #ccc;
	//background: yellow;

	position: relative;
	padding-bottom: 74%;
	height: 0;
}
.videoPlayer {
	position: absolute;
	top: 0;
	left: 0;
	//padding: 8px;
	//background: #fff;
	width: 100%;
	height: 100%;
	-webkit-mask-box-image: url('/assets/images/rect.svg');
}
video {
}



//	******************************************************************
//	Blog
//	******************************************************************

section.notes {
	
	article {
		@include clearfix;
	}
}


section.contact {
	@include span-columns(20,24);
	@include pad(1,1);
}

aside.hcard {
	padding: rhythm(1);
	background: #fff;
}

//	******************************************************************
//	Footer
//	******************************************************************
#bottom {
}